.item{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
}
.text{
    text-align: center;
}
.box{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    
}
.box1{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    margin-top: 15px;
 
}
.box1 button{
    background-color: rgb(43, 101, 194);
}
#main{
    background-color: gray;
    margin: auto;
    padding: 54px 0;
    width: 600px ;
}
