#text p, h1 {
    text-align: center;
    margin: 15px;
}


input{
   margin-left: 8cm ;
   width: 5cm;
}
button{
    margin:8.5cm;
    background-color: rgb(37, 171, 171);
    height: 35px;
    width: 4cm;
    margin-top:1.5em;
}
i{
    margin-left: 9.5cm;
    font-size: 50px;
}
